html,
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

body {
    background: #fcefff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f6d5ff;
    width: 1000px;
    height: 400px;
    border-radius: 20px;
    border: #fc0c84 2px solid;
    box-shadow: #fc0c8480 5px 5px;
}




.buttons {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

h1 {
    text-align: center;
    font-size: 64px;
    color: #fc0c84;
    margin: 0;
}

p {
    text-align: center;
    font-size: 32px;
    margin: 0;
}

.button-yes,
.button-no {
    padding: 25px 100px;

    color: #9c014e;
    background-color: #ff53a9;
    border: #9c014e 2px solid;
    border-radius: 20px;

    cursor: pointer;
}

.button-again {
    padding: 15px 50px;

    color: #9c014e;
    background-color: #ff53a9;
    border: #9c014e 2px solid;
    border-radius: 20px;

    cursor: pointer;
}

.button-yes:hover {
    box-shadow: #fc0c8480 5px 5px;
    transform: scale(1.1);
    transition: transform 0.3s ease;

}

.runaway:hover {
    box-shadow: #fc0c8480 5px 5px;
    transition: transform 0.3s ease;
}

.runaway {
    position: relative;
    transition: transform 0.3s ease;
}