html,
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

body {
    background: #fcefff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.question {
    background: #f6d5ff;
    height: 100%;
    width: 90%;
    max-width: 1100px;

    padding: 20px;
    border-radius: 20px;
    border: #fc0c84 2px solid;
    box-shadow: #fc0c8480 5px 5px;
}

h1 {
    text-align: center;
    font-size: 64px;
    color: #fc0c84;
}

.buttons {
    text-align: center;
}

.button-yes,
.button-no {
    margin: 20px 50px;
    padding: 5px 100px;
    color: #fc0c84;
    background-color: #fcefff;
    border: #fc0c84 2px solid;
    border-radius: 20px;
}

p {
    text-align: center;
    font-size: 32px;
}

.footer {
    text-align: center;
    font-size: 16px;
    color: #fc0c84;
}